{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/abo.css' %} ">
  </head>
  <body>
    <header>
      <p> About Us </p>
    </header>
    <div class="i >"
    <p> A donation is a gift for charity, humanitarian aid, or to benefit a cause. A donation may take various forms, including money, alms, services, or goods such as clothing, toys, food, or vehicles. A donation may satisfy medical needs such as blood or organs for transplant.</p>
    <p> please donate !!</p>
  </div>
  </body>
</html>
