{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/cons.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"

  </head>
  <body>
    <div class="contact-info">
      <div class="card">
        <i class="card-icon far fa-envelope"></i>
        <p> akshayakarthikeyen08@gmail.com </p>
      </div>

      <div class="card">
        <i class="card-icon fas fa-phone"></i>
        <p> 04362-284436 </p>
      </div>

      <div class="card">
        <i class="card-icon fas fa-map-maker-alt"></i>
        <p> velachery , Chennai </p>
      </div>

  </body>
</html>
