{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME </title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/model.css' %} ">
  </head>
 <body>
    <header>
    <div class="t">

      <nav class="nav__links">
         <ul>
           <li><a href="#">Home</a></li>
           <li><a href="donate">Donate Now</a></li>
           <li><a href="about">About</a></li>
           <li><a href="Contact">Contact</a></li>
           <li><a href="#">Call: 04362 - 284436</a></li>
           </ul>
            </nav>



         </header>
        <div class="he">
        <p>   Alone we can do so little,
        Together we can do so much! </p>
        <a class="k" href="donate" <button> Donate Now </button>

        </body>


</div>

</html>
