{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>success</title>
  </head>
  <body>
    <div class="tx">
      <img src="https://www.svgrepo.com/show/13650/success.svg" class="img-fluid" style="height:200px ;padding-left:40% ; padding-top: 10%">
      <h2 style="height:20px ;padding-left:30% "> Thanks Your Payment Has Been Suessfull !! </h2>
      <a style="left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50% , -50%);
        padding: 15px 40px 0px 40px;
        margin-top: 150px;
        background-color: pink;
        text-decoration: none;
        border-radius: 10px;
        height: 40px;
        background: #fb2525;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        text-align: center; "  href="/">Donate again </a>
    </div>
  </body>
</html>
